* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
/* 
p span{
    opacity: 0.8;
    font-weight: 100;
    font-size: 20px;
} */

.home {
    width: 70%;
    margin: auto;
    /* background-image: url(../../images/backgroundYOYO.png); */
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

.landing-left h1{
    font-size: 40px;
    font-weight: 500;
    color: #17191a;
}

.landing-left h2{
    margin-top: 0.5em;
    font-size: 25px;
    font-weight: 400;
    color: #17191a;
}
h5{
    font-size: 20px;
    margin-top: 10px;
    color: #17191a;
}
.landing-left p {
    color: #17191a;
    opacity: 0.95;
    font-weight: 400;
    margin-top: 10px;
    font-size: 20px;

}

/* Landing containers */
.landing {
    height: 95vh;
    position: relative;
}

.landing-wrapper{
    display: flex;
    justify-content: space-between;
    width: 105%;
}
.landing-left ul{
    list-style: none;
    margin-top: 15px;
    line-height: 30px;
}

.landing-left li{
    padding-left: 5%;
    
}

.landing-left{
    margin-top: 2em;
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 20px;
    padding: 2em;
    width:65%;
}

.scroll {
    position: absolute;
    bottom: 5em;
    top: 30em;
    left: 0%;
    right: 0;
    margin: auto;
}


/* Languages */

.languages {
    text-align: center;
    margin-bottom: 2em;
}

.languages img {
    width: 40px;
    height: 40px;
    margin: 0 15px;
}

/* background vid */

/* #myVideo{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
} */


